In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN','NAME'], axis=1, inplace=True)

In [3]:
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T25','T14','T29','T15','T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_value_counts = application_df['CLASSIFICATION'].value_counts()

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_value_counts[classification_value_counts.values < 1500].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
X = application_df.drop(columns='IS_SUCCESSFUL') 
X = pd.get_dummies(X)

print(X.head())

   STATUS  ASK_AMT  APPLICATION_TYPE_Other  APPLICATION_TYPE_T10  \
0       1     5000                       0                     1
1       1   108590                       0                     0
2       1     5000                       0                     0
3       1     6692                       0                     0
4       1   142590                       0                     0

   APPLICATION_TYPE_T12  APPLICATION_TYPE_T13  APPLICATION_TYPE_T19  \
0                     0                     0                     0
1                     0                     0                     0
2                     0                     0                     0
3                     0                     0                     0
4                     0                     0                     0

   APPLICATION_TYPE_T2  APPLICATION_TYPE_T3  APPLICATION_TYPE_T4  ...  \
0                    0                    0                    0  ...
1                    0                    1                    0  ...
2                    0                    0                    0  ...
3                    0                    1                    0  ...
4                    0                    1                    0  ...

   INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                  0                       0                         0
1                  1                       0                         0
2                  0                       0                         0
3                  0                       1                         0
4                  0                       0                         1

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                   0                 0                       0
1                   0                 0                       0
2                   0                 0                       0
3                   0                 0                       0
4                   0                 0                       0

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                0                  0                         1
1                0                  0                         1
2                0                  0                         1
3                0                  0                         1
4                0                  0                         1

   SPECIAL_CONSIDERATIONS_Y
0                         0
1                         0
2                         0
3                         0
4                         0

[5 rows x 47 columns]

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
## Compile, Train and Evaluate the Model

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=8
hidden_nodes_layer2=16
hidden_nodes_layer3=24
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_input_features))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 384

 dense_4 (Dense)             (None, 16)                144

 dense_5 (Dense)             (None, 1)                 17

=================================================================
Total params: 545 (2.13 KB)
Trainable params: 545 (2.13 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [26]:
# Compile the model
nn_model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),loss='binary_crossentropy',metrics=['accuracy'])

In [27]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, validation_split=0.15, epochs=20)

Epoch 1/20
684/684 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7343 - val_loss: 0.5601 - val_accuracy: 0.7245
Epoch 2/20
684/684 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7359 - val_loss: 0.5622 - val_accuracy: 0.7251
Epoch 3/20
684/684 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7346 - val_loss: 0.5614 - val_accuracy: 0.7251
Epoch 4/20
684/684 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7362 - val_loss: 0.5586 - val_accuracy: 0.7204
Epoch 5/20
684/684 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7354 - val_loss: 0.5620 - val_accuracy: 0.7245
Epoch 6/20
684/684 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7348 - val_loss: 0.5600 - val_accuracy: 0.7191
Epoch 7/20
684/684 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7358 - val_loss: 0.5603 - val_accuracy: 0.7266
Epoch 8/20
684/684 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7358 - val_loss: 0.5610 - val_accuracy: 0.7204
Epoch 9/20
684/684 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7353 - val_loss: 0.5594 - val_accuracy: 0.7196
Epoch 10/20
684/684 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7360 - val_loss: 0.5598 - val_accuracy: 0.7248
Epoch 11/20
684/684 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7357 - val_loss: 0.5600 - val_accuracy: 0.7258
Epoch 12/20
684/684 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7354 - val_loss: 0.5605 - val_accuracy: 0.7188
Epoch 13/20
684/684 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7346 - val_loss: 0.5604 - val_accuracy: 0.7253
Epoch 14/20
684/684 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7348 - val_loss: 0.5618 - val_accuracy: 0.7276
Epoch 15/20
684/684 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7362 - val_loss: 0.5594 - val_accuracy: 0.7186
Epoch 16/20
684/684 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7359 - val_loss: 0.5609 - val_accuracy: 0.7245
Epoch 17/20
684/684 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7358 - val_loss: 0.5592 - val_accuracy: 0.7258
Epoch 18/20
684/684 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7363 - val_loss: 0.5610 - val_accuracy: 0.7251
Epoch 19/20
684/684 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7352 - val_loss: 0.5614 - val_accuracy: 0.7248
Epoch 20/20
684/684 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7365 - val_loss: 0.5600 - val_accuracy: 0.7191

In [28]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5521 - accuracy: 0.7297 - 369ms/epoch - 1ms/step
Loss: 0.5521355271339417, Accuracy: 0.72967928647995

In [30]:
# Export our model to HDF5 file
nn_model.save("Output/AlphabetSoupCharity.h5")